* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:aliceblue;
}

.text {
    padding-bottom: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.container {
    margin: 200px 400px
}

img {
    margin-left: 170px;
}